<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container">
    <%= link_to "LingoCoach", root_path, class: "navbar-brand" %>

    <div class="ms-auto d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Exercises", exercises_path, class: "btn btn-outline-primary btn-sm" %>

        <%= button_to "Log out",
              destroy_user_session_path,
              method: :delete,
              class: "btn btn-outline-danger btn-sm",
              form: { class: "d-inline" } %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
</nav>
