<div class="container mt-4">
  <h2 class="mb-4">Exercises</h2>

<%= link_to "New Exercise", new_exercise_path, class: "btn btn-primary mb-3" %>

  <div class="row">
    <% @exercises.each do |exercise| %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= exercise.name %></h5>
            <span class="badge bg-secondary"><%= exercise.language.upcase %></span>
            <p class="mt-2"><%= truncate(exercise.content, length: 90) %></p>
            <%= link_to "Open", exercise_path(exercise), class: "btn btn-outline-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
