<div class="exercises-header">
  <h2 class="mb-4">Exercises</h2>
</div>

<div class="exercises-container">
  <div class="row">
    <% @exercises.each do |exercise| %>
      <div class="col-md-4 mb-3">
        <div class="excercise_card">
          <div class="card-body">
            <div class="card-title">
              <%= exercise.name %>
            </div>

            <% lang = exercise.language.to_s.downcase.strip %>
            <% code = (lang == "en" ? "gb" : lang) %>

            <%= image_tag "https://flagcdn.com/w40/#{code}.png",
                  width: 32, height: 24,
                  alt: code,
                  class: "me-2 rounded",
                  loading: "lazy" %>

            <p class="mt-2"><%= truncate(exercise.content, length: 90) %></p>
            <%= link_to "Open", exercise_path(exercise), class: "btn-second me-2" %>
            <%= button_to "Delete", exercise_path(exercise),
              method: :delete,
              data: { turbo_confirm: "Delete '#{exercise.name}'?" },
              class: "btn-second" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="exercises-footer">
  <%= link_to "New Exercise", new_exercise_path, class: "btn-first" %>
</div>
